.stampModelInfo {
    widows: 80px;
    height: 80px;
}
.stampPicture {
    background-color: red;
    width: 80px;
    height: 80px;
}
.contain {
    background-color: #FFFFFF;
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
    border: 1px dashed #2e9ad0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 8px 16px 0 rgba(0,0,0,0.19);
}
#stampNumbersContainer {
    margin-top: 20px;
    width: 670px;
    height: 500px; // only for test purpose
}
.center {
    margin: 0 auto;
}
#stampOptionsContainer {
    position: relative;
    width: 670px;
}
 .stampPreviewContainer {
     position: absolute;
     top: 40px;
     right: 10px;
}
.stampDataContainer {
    margin-right: 300px !important;
    width: 400px;
}
#stampPreview {
    overflow: hidden;
    background-color: #fff;
    border: solid #000000;
    width: 200px;
    height: 110px;
    text-align: center;
}
#stampText[type="text"] {
    text-align: center;
    height: 100px;
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-right: 5px;
    resize: none;
}
.btn:hover {
    transform: scale(1.05);
}
.btn {
    font-weight: bold !important;
    margin: 4px;
    transition: transform .1s ease;
}
h4 {
    color: #0f74a8 !important;
}
body {
    background-color: #c2e0f0 !important;
}