.stampModelInfo {
    height: 100px;
}
.stampPicture {
    background-color: red;
    width: 80px;
    height: 80px;
}
.contain {
    background-color: #FFFFFF;
    margin-top: 20px;
    padding: 15px;
    // border-radius: 15px;
    // border: 1px solid #2e9ad0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 8px 16px 0 rgba(0,0,0,0.19);
}
#stampNumbersContainer {
    margin-top: 20px;
    width: 725px;
    // height: 500px; // only for test purpose
}
.center {
    margin: 0 auto;
}

#stampOptionsContainer {
    position: relative;
    width: 725px;
}
 .stampPreviewContainer {
     position: absolute;
     top: 40px;
     right: 0;
     width:232px;
}
.stampDataContainer {
    margin-right: 285px !important;
    width: 483px;
}
.stampPreview {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:0 auto;
    text-align: left !important;
    overflow: hidden;
    background-color: #fff;
    border: solid #000000 2px;
    min-width: 40px;
    max-width: 201px;
    min-height: 50px;
    max-height: 120px;
}
#stampPreviewSpace {
    height: 110px;
 }
#stampText[type="text"] {
    text-align: left;
    height: 100px;
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-right: 5px;
    resize: none;
}
.btn:hover {
    transform: scale(1.05);
}
.btn {
    font-weight: bold !important;
    margin: 4px;
    transition: transform .1s ease;
}
h4 {
    color: #0f74a8 !important;
}
body {
    background-color: #c2e0f0 !important;
    margin-bottom: 20px !important;
}
.stampCount {
    float:left;
}
#paymentContainer {
    margin-top: 20px;
    width: 725px;
    height: 0;
    box-sizing: border-box;
    display: none;
    opacity: 0;
}
#mainPageContainer {
    opacity: 1;
    display: block;
}
#summary {
    position: relative;
    width: 725px;
    display: none;
    opacity: 0;
    margin-top: 30px;
}
.btn.btn-info.stampCount.col-sm-3 {
    margin: 18px 0 0 0;
}
#comment {
    max-width: 100%;
    height: 186px;
    max-height: 186px;
}
.cke_bottom {
    display: none !important;
}
.logo_font {
    color: black;
    background-color: #fff;
    padding: 20px;
    width: 725px;
    margin: 20px auto;
}